.div1-back {
  border: 2px solid #262626;
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(0deg, #262626, #262626);

  padding: 22px 22px;
  border-radius: 14px;

  @media screen and (min-width: 768px) {
    padding: 40px 32px;
  }

  @media screen and (min-width: 1400px) {
    padding: 60px 42px;
  }
}

.head {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  color: #ffffff;
}

.desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #c0c0c0;
}

.profile-background {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(0deg, #2c2c2c, #2c2c2c),
    linear-gradient(0deg, #3f3e3e, #3f3e3e);
}

.profile-background img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.profile-background-inner {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  overflow: hidden;
}

.btn-hire-me {
  background-color: #e63e21;
  border-color: #e63e21;
  border: 2px solid #161616;
  border-radius: 7px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;

  display: flex;
  justify-content: space-between;

  .text {
    padding: 9px;
  }

  .line {
    background: #161616;
    width: 2px;
    height: 100%;
  }

  .sign {
    padding: 9px;
  }

  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 0 10px #e63e21;
  }
}

.btn-copy-email {
  margin-left: 14px;
  border: 2px solid #262626;
  border-radius: 7px;
  background: linear-gradient(0deg, #161616, #161616),
    linear-gradient(0deg, #262626, #262626);

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;

  display: flex;
  justify-content: space-between;

  .text {
    padding: 9px;
    color: #c0c0c0;
  }

  .line {
    background: #262626;
    width: 2px;
    height: 100%;
  }

  .sign {
    padding: 9px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}

.div2-back {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc(50% - 10px);
  }
}
