.div-back-specialist {
  padding: 22px 22px;
  border-radius: 14px;

  @media screen and (min-width: 768px) {
    padding: 40px 32px;
  }

  @media screen and (min-width: 1400px) {
    padding: 60px 42px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  color: #c0c0c0;
}

.specialist-1 {
  background: linear-gradient(
      249.05deg,
      rgba(230, 62, 33, 0.2) 18.59%,
      rgba(51, 19, 14, 0) 53.25%
    ),
    #1b1b1b;

  border: 2px solid #262626;

  border-image-source: linear-gradient(
      257.54deg,
      #e63e21 5.39%,
      rgba(230, 62, 33, 0) 13.59%
    ),
    linear-gradient(0deg, #262626, #262626);
}

.spec-width {
  margin-top: 1rem !important;
  // width: calc(100% - 10px);

  .specialist-2 {
    width: 100%;
    background: linear-gradient(
        246deg,
        rgba(230, 62, 33, 0.2) 10.4%,
        rgba(51, 19, 14, 0) 25.53%
      ),
      #1b1b1b;
    // transform: rotate(-180deg);

    border: 2px solid #262626;
    border-image-source: linear-gradient(
        70.92deg,
        #e63e21 5.61%,
        rgba(230, 62, 33, 0) 16.22%
      ),
      linear-gradient(0deg, #262626, #262626);
  }

  .specialist-3 {
    width: 100%;
    background: linear-gradient(
        65.27deg,
        rgba(230, 62, 33, 0.2) 10.4%,
        rgba(51, 19, 14, 0) 25.53%
      ),
      #1b1b1b;

    border: 2px solid #262626;
    border-image-source: linear-gradient(
        70.92deg,
        #e63e21 5.61%,
        rgba(230, 62, 33, 0) 16.22%
      ),
      linear-gradient(0deg, #262626, #262626);
  }
}
